@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

:root {
    --primary: #dc143c;
    --primary-hover: #c41236;
    --secondary: #663399;
    --bg: #eee;
    --bg-2: #ddd;

    --margin: 0.5rem;
    --border-radius: 0.25rem;
}

::selection {
    background-color: var(--primary);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
}

h1 {
    text-align: center;
}

h1, h3 {
    margin-bottom: var(--margin);
}

form {
    display: flex;
    flex-direction: column;

    background-color: var(--bg);
    border-radius: var(--border-radius);
    padding: 1rem;
}

form div {
    margin-bottom: var(--margin);
}

form :where(input, textarea, select) {
    resize: none;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--bg-2);
    border: 0;
    border-radius: 0.25rem;
}

form :where(input, textarea, button, select):focus {
    outline: 0;
}

form button {
    background-color: var(--primary);
    color: white;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    border: 0;
}

form button:hover:not(:disabled), form button:focus:not(:disabled) {
    background-color: var(--primary-hover);
}

form button:disabled {
    background-color: var(--bg-2);
    color: black
}

.container {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible {
    display: none;
}

.loader-loader {
    width: 4rem;
    height: 4rem;
    border: 0.5rem var(--bg-2) solid;
    border-top-color: var(--secondary);
    border-bottom-color: var(--secondary);
    border-radius: 100%;
    animation: spin 2s infinite;
}

#main {
    width: 100%;
    padding: 1rem;
}

#version {
    text-align: center;
}